/*
  ----------------
  ボタン
  ----------------
*/
.more {
  display: block;
  width: 400px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 17px;
	background: #171C8F;
  border: 1px solid #171C8F;
	position: relative;
  border-radius: 50px;
  margin: 0 auto;
	@media #{$sp} {
		font-size: 14px;
    padding: 13px;
    width: 85%;
	}
  &.core {
    display: flex;
  }
	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 30px;
    width: 8px;
    height: 8px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(45deg);
    transition: all .3s;
    @media #{$sp} {
      right: 20px;
    }
	}
  &.bgW {
    background: #fff;
    color: #171C8F;
    border: 1px solid #fff;
    &:before {
      border-top: solid 3px #171C8F;
      border-right: solid 3px #171C8F;
    }
    &:hover {
      background: #171C8F;
      color: #fff;
      &:before {
        border-top: solid 3px #fff;
        border-right: solid 3px #fff;
      }
    }
  }
  &.bgLB {
    border: 1px solid #5FB2E2;
    background: #5FB2E2;
    color: #fff;
    &:before {
      border-top: solid 3px #fff;
      border-right: solid 3px #fff;
    }
    &:hover {
      background: #fff;
      color: #5FB2E2;
      &:before {
        border-top: solid 3px #5FB2E2;
        border-right: solid 3px #5FB2E2;
      }
    }
  }
  &.bgLG {
    border: 1px solid #54B38F;
    background: #54B38F;
    color: #fff;
    &:before {
      border-top: solid 3px #fff;
      border-right: solid 3px #fff;
    }
    &:hover {
      background: #fff;
      color: #54B38F;
      &:before {
        border-top: solid 3px #54B38F;
        border-right: solid 3px #54B38F;
      }
    }
  }

  &.bgR {
    border: 1px solid #D22630;
    background: #D22630;
    color: #fff;
    &:before {
      border-top: solid 3px #fff;
      border-right: solid 3px #fff;
    }
    &:hover {
      background: #fff;
      color: #D22630;
      &:before {
        border-top: solid 3px #D22630;
        border-right: solid 3px #D22630;
      }
    }
  }
  
  &.small {
    width: 330px;
    padding: 10px;
    &:before {
      width: 6px;
      height: 6px;
      border-top: solid 2px #fff;
      border-right: solid 2px #fff;
    }
  }
  &.tiny {
    font-size: 14px;
    width: 160px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16);
    &:before {
      content: none;
    }
  }
  &.wp-thumb {
    width: 450px;
    @media #{$sp} {
      width: 85%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -50px;
      margin: auto;
      width: 100px;
      height: 78px;
      background: url("../img/common/img-wp-thumb01.png") 50% / contain no-repeat;
      transition: all .3s;
      @media #{$sp} {
        left: -30px;
        width: 70px;
        height: 48px;
      }
    }
    &:hover {
      &::after {
        width: 110px;
        height: 88px;
        @media #{$sp} {
          width: 80px;
          height: 58px;
        }
      }
    }
  }
  &:hover {
    opacity: 1;
    background: #fff;
    color: #171C8F;
    &::before {
      border-top: solid 3px #171C8F;
      border-right: solid 3px #171C8F;
    }
  }
}

// 電話番号
.tel {
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  color: #000;
  padding-left: 30px;
  position: relative;
  @media #{$sp} {
    font-size: 24px;
    padding-left: 25px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 20px;
    height: 25px;
    background: url('../img/common/tel.svg') 50% / contain no-repeat;
    @media #{$sp} {
      width: 15px;
      height: 20px;
      top: 12px;
    }
  } 
}

// ボタン
.btn01 {
	display: block;
  max-width: 560px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 17px;
	background: #093B77;
  box-shadow: 0 7px 20px rgba(0,0,0,0.22);
	position: relative;
  border-radius: 50px;
  margin: 0 auto;
  border: 3px solid #093B77;
	@media #{$sp} {
		font-size: 14px;
    padding: 13px;
    max-width: 85%;
    border: 2px solid #093B77;
	}
  &:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		right: 30px;
    width: 8px;
    height: 8px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(45deg);
    transition: all .3s;
    @media #{$sp} {
      right: 20px;
    }
	}
  &:hover {
    opacity: 1;
    background: #fff;
    color: #093B77;
    &::before {
      border-top: solid 3px #093B77;
      border-right: solid 3px #093B77;
    }
  }
  // サムネ付きボタン
  &.thumb {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -50px;
      margin: auto;
      width: 126px;
      height: 88px;
      background: url("../img/common/img-thumb01.png") 50% / contain no-repeat;
      transition: all .3s;
      @media #{$sp} {
        left: -30px;
        width: 90px;
        height: 55px;
      }
    }
    &:hover {
      &::after {
        width: 136px;
        height: 98px;
      }
    }
  }
  // 小さいボタン
  &.small {
    max-width: 330px;
    padding: 10px;
    &:before {
      width: 6px;
      height: 6px;
      border-top: solid 2px #fff;
      border-right: solid 2px #fff;
    }
    &:hover {
      &::before {
        border-top: solid 2px #F7A307;
        border-right: solid 2px #F7A307;
      }
    }
  }
  // 最小ボタン
  &.tiny {
    font-size: 13px;
    width: 140px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16);
    &:before {
      content: none;
    }
  }
  // ライトブルーボタン
  &.bgLB {
    border: 1px solid #5FB2E2;
    background: #5FB2E2;
    color: #fff;
    &:before {
      border-top: solid 3px #fff;
      border-right: solid 3px #fff;
    }
    &:hover {
      background: #fff;
      color: #5FB2E2;
      &:before {
        border-top: solid 3px #5FB2E2;
        border-right: solid 3px #5FB2E2;
      }
    }
  }
  // ブルーボタン
  &.bgB {
    border: 1px solid #FFF;
    background: #FFF;
    color: #171C8F;
    &:before {
      border-top: solid 3px #171C8F;
      border-right: solid 3px #171C8F;
    }
    &:hover {
      background: #171C8F;
      color: #FFF;
      &:before {
        border-top: solid 3px #FFF;
        border-right: solid 3px #FFF;
      }
    }
  }

  // グリーンボタン
  &.bgG {
    border: 1px solid #FFF;
    background: #FFF;
    color: #54B38F;
    &:before {
      border-top: solid 3px #54B38F;
      border-right: solid 3px #54B38F;
    }
    &:hover {
      background: #54B38F;
      color: #FFF;
      &:before {
        border-top: solid 3px #FFF;
        border-right: solid 3px #FFF;
      }
    }
  }

    // レッドボタン
    &.bgR {
      border: 1px solid #D22630;
      background: #D22630;
      color: #fff;
      &:before {
        border-top: solid 3px #fff;
        border-right: solid 3px #fff;
      }
      &:hover {
        background: #fff;
        color: #D22630;
        &:before {
          border-top: solid 3px #D22630;
          border-right: solid 3px #D22630;
        }
      }
    }
}

// 吹き出し付きボタン
.ctabtn {
  position: relative;
  width: 450px;
  margin: 0 auto;
  text-align: center;
  @media #{$sp} {
    width: 100%;
    margin: 40px auto 0;
  }
  .balloon {
    display: inline-block;
    position: absolute;
    top: -28px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    @media #{$sp} {
      top: -20px;
    }
    &__txt {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      padding: 5px 15px;
      line-height: 1;
      border-radius: 20px;
      background: #fff;
      color: #000;
      border: 1px solid #171C8F;
      transition: all .3s;
      position: relative;
      @media #{$sp} {
        font-size: 11px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-color: #fff rgba(0,0,0,0) rgba(0,0,0,0);
        border-style: solid;
        border-width: 6px 6px 0;
        z-index: 2;
        transition: all .3s;
      }
      &::after {
        content: "";
        position: absolute;
        top: 105%;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-color: #171C8F rgba(0,0,0,0) rgba(0,0,0,0);
        border-style: solid;
        border-width: 6px 6px 0;
        z-index: 1;
        transition: all .3s;
      }


      &--cG {
        border: 1px solid #54B38F;
      }

      &--cLB {
        border: 1px solid #5FB2E2;
      }
    }
  }
  .tooltip {
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    @media #{$sp} {
      font-size: 12px;
    }
    &.cW {
      color: #fff;
    }
  }
}
