/*
  ----------------
  contact
  ----------------
*/

.contact {

  .hero03 {
    background: url("../img/contact/bg-hero.webp") 50% / cover no-repeat;
    height: 320px;
    color: #fff;
    @media #{$sp} {
      height: auto;
    }
    .ttl-primary-lower {
      margin-bottom: 20px;
      @media #{$sp} {
        margin-bottom: 15px;
      }
    }
    .lead {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 0;
      @media #{$sp} {
        font-size: 16px;
      }
    }
  }

  .form__ttl {
    font-size: 24px;
    padding: 30px 15px;
    @media #{$sp} {
      font-size: 16px;
      padding: 20px 10px;
    }
  }

}

#satori__form_body {
  padding: 0 45px 70px !important;
  background: #F7F7F7 !important;
  @media #{$sp} {
    padding: 15px !important;
  }
}

.satori__custom_form {
  background-color: #F7F7F7 !important;
}

// .satori__input_group {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: center;
//   gap: 60px;
//   @media #{$sp} {
//     gap: 10px;
//   }
// }

// .satori__input_group label {
//   width: 240px;
//   display: flex !important;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: center;
//   font-weight: 500;
//   @media #{$sp} {
//     width: 100%;
//   }
// }

.satori__require {
  background: #D22630 !important;
  color: #fff !important;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 5px !important;
  line-height: 1 !important;
}

.satori__not_require {
  background: #777 !important;
  color: #fff !important;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 5px !important;
  line-height: 1 !important;
}

.satori__input_group input[type=email],
.satori__input_group input[type=text],
.satori__input_group input[type=tel],
.satori__input_group input[type=checkbox],
.satori__input_group input[type=url],
.satori__input_group textarea {
  background: #fff !important;
  border: 1px solid #aaa !important;
  padding: 2px 5px !important;
  height: 50px !important;
  @media #{$sp} {
    height: 40px !important;
  }
}

.satori__input_group input[type=checkbox] {
  height: auto !important;
}

// .satori__input_group:nth-child(7),
// .satori__input_group:nth-child(8),
// .satori__input_group:nth-child(9) {
//   display: inline-block !important;
// }

// .satori__input_group:nth-child(7) label,
// .satori__input_group:nth-child(8) label,
// .satori__input_group:nth-child(9) label {
//   display: inline-block !important;
// }

// .satori__input_group:nth-child(7) label:first-child,
// .satori__input_group:nth-child(8) label:first-child,
// .satori__input_group:nth-child(9) label:first-child {
//   width: 100%;
// }

// .satori__privacy_policy_agreement_wrapper_159f4a1420dee4c3 .satori__input_group label {
//   width: auto;
// }

.satori__btn {
  display: block;
  width: 40% !important;
  background: #171C8F !important;
  border: 1px solid #171C8F !important;
  color: #fff !important;
  padding: 15px !important;
  border-radius: 40px !important;
  font-size: 20px !important;
  font-weight: bold !important;
  @media #{$sp} {
    font-size: 16px !important;
    width: 85% !important;
    padding: 10px !important;
  }
  &.cancel {
    background: #b6b6b6 !important;
    border: 1px solid #b6b6b6 !important;
    margin-bottom: 15px!important;
  }
}

.satori__message a, 
.satori__message a:visited {
  color: #171C8F !important;
  text-decoration: underline !important;
}

.side-form #satori__form_body {
  padding: 0 15px 30px !important;
  background: #F7F7F7 !important;
  @media #{$sp} {
    padding: 0 15px 15px !important;
  }
}

.side-form .satori__btn {
  width: 100% !important;
  font-size: 18px !important;
  @media #{$sp} {
    font-size: 16px !important;
    width: 85% !important;
  }
}

#satori__creative_container * {
  color: #000;
}

#satori__creative_container .satori__error_messages,
#satori__creative_container .satori__error_messages span {
  line-height: 1.4;
  color: red !important;
  font-size: 14px;
  font-weight: bold;
  @media #{$sp} {
    font-size: 12px;
  }
  // &::before {
  //   content: "※";
  // }
}