/*
  ----------------
  pages-sll スマートエルライン™ライト差別化したい企業様へ（付加価値） 
  ----------------
*/

.sll {

  .hero02 {
    background: url("../img/sll/bg-hero.webp") 100% 50% / 60% auto no-repeat #2F527A;
    height: 480px;
    color: #fff;
    @media #{$sp} {
      height: auto;
      background: url("../img/sll/bg-hero.webp") 50% 65% / 100% auto no-repeat #2F527A;
    }
    .containers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 80px 30px;
      @media #{$sp} {
        padding: 30px 15px;
      }
    }
    &__box {
      width: 55%;
      text-align: center;
      @media #{$sp} {
        width: 100%;
      }
      &--had {
        display: inline-block;
        padding: 5px 20px;
        border: 1px solid #fff;
        margin-bottom: 35px;
        @media #{$sp} {
          margin-bottom: 20px;
        }
      }
      &--sub {
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 22px;
        @media #{$sp} {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
      .ttl-primary-lower {
        margin-bottom: 60px;
        @media #{$sp} {
          margin-bottom: 150px;
        }
      }
      .more {
        margin: 0;
        @media #{$sp} {
          margin: 0 auto;
        }
        &.wp-thumb::after {
          background: url("../img/common/img-wp-thumb02.png") 50% / contain no-repeat;
        }
      }
    }
  }

    &__recommend {
        background: #f7f7f7;

        .card {
            position: relative;
            width: calc(90% / 2 - 20px);
            @media #{$sp} {
              margin-bottom: 60px;
              width: 100%;
            }

            &::after {
                content: "";
                position: absolute;
                width: 14px;
                height: 14px;
                border-top: solid 5px #171C8F;
                border-right: solid 5px #171C8F;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -32px;
                transform: rotate(135deg);
                transition: all .3s;
            }

            .card__img {
              overflow: hidden;
              img {
                transition: all .3s;
              }
            }

            &:hover {
              opacity: 1;
                &::after {
                    bottom: -42px;
                }

                .card__img {
                  img {
                    transform: scale(1.1);
                  }
                }
            }

            .card__box {
                border-top: 3px solid #171C8F;
                background: #fff;
                padding: 20px 0;
                >* {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: bold;
                    color: #171C8F;
                    text-align: center;
                    @media #{$sp} {
                      font-size: 16px;
                      line-height: 1.5;
                    }
                }
            }  
        }
    }


    // スマートエルライン™ライトとは

    &__about {
        background: url("../img/sll/bg-about-sll.png") no-repeat top left / cover;

        iframe {
            aspect-ratio: 16 / 9;
            width: 100%;
            max-width: 685px;
            height: auto;
            display: block;
            margin: auto;
        }
    }
    
    &__feature {

        .card__box--img {
            width: 100px;
            margin: 0 auto 20px;
        }

        .card__box--ttl {
            padding: 9px 0;
            background-color: #F2F4FA;
            color: #171C8F;
            font-size: 20px;
            line-height: 30px;
            margin: 0 -30px 30px;
            min-height: 78px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media #{$sp} {
              margin: 0 -15px 30px;
              font-size: 16px;
            }
        }

        .card__box--dl {
            padding-left: 22px;
            margin-bottom: 8px;
            dt {
                font-weight: bold;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 13px;
                    top: 7px;
                    left: -22px;
                    background: url("../img/sll/icon-check.png") no-repeat top left / 100% auto;
                }
            }
        }

        .card__box--caution {
            padding-top: 14px;
            font-size: 12px;
        }

        &--img {
            max-width: 680px;
            margin: 0 auto;
            img {
              border:1px #ccc solid;
            }
        }
    }

    .material.bg-B {
        background: #171C8F;
    }

    #to-page-link02 .containers {
      padding: 0 30px 70px;
      @media #{$sp} {
        padding: 35px 15px;
      }
    }
  }