<header>
  <div class="in">
    <aside class="flex aiC inherit">
      <div class="in__logo"><a href="/"><img src="/others/assets/img/common/h-logo.svg" alt="日東エルマテリアル"></a></div>
      <nav class="in__nav pc-only">
        <ul class="flex jcE aiC">
          <li><a href="tel:0120640450" class="tel">0120-64-0450</a>　（平日：09:00~17:30）</li>
          <li><a href="/catalog/" class="more tiny">カタログダウンロード</a></li>
          <li><a href="/contact/" class="more tiny">ご相談・お問合せ</a></li>
        </ul>
      </nav>
      <div id="nav-toggle" class="sp-only">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </aside>
  </div>
  <nav class="nav-list pc-only">
    <ul class="flex nav-list-box">
      <li class="parent">
        <a href="#" class="arrow disabled">製品紹介</a>
        <div class="mega flex pull">
          <div class="mega__parent">製品紹介</div>
          <div class="mega__box flex">
            <div class="mega__box--list">
              <a href="/sll/" class="ttl">スマートエルライン™ライト</a>
            </div>
            <div class="mega__box--list">
              <a href="/plc_tape/" class="ttl">エルクライト™ シリーズ</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="/agency/" class="link">販売代理店様へ</a></li>
      <li class="parent">
        <a href="#" class="arrow disabled">お役立ち情報</a>
        <div class="mega flex pull">
          <div class="mega__parent">お役立ち情報</div>
          <div class="mega__box flex">
            <div class="mega__box--list">
              <a href="/whitepaper/" class="ttl">お役立ち資料</a>
            </div>
            <div class="mega__box--list">
              <a href="/column/" class="ttl">お役立ちコラム</a>
            </div>
            <div class="mega__box--list">
              <a href="/news/" class="ttl">お知らせ</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="/company/" class="link">企業情報</a></li>
    </ul>
  </nav>

  <div id="gloval-nav" class="sp-only">
    <ul class="list">
      <li><a href="#" class="disabled">製品紹介</a></li>
      <li class="child"><a href="/sll/">スマートエルライン™ライト</a></li>
      <li class="child"><a href="/plc_tape/">エルクライト™JB.JC.JD</a></li>
      <li><a href="/agency/">販売代理店様へ</a></li>
      <li><a href="#" class="disabled">お役立ち情報</a></li>
      <li class="child"><a href="/whitepaper/">お役立ち資料</a></li>
      <li class="child"><a href="/column/">お役立ちコラム</a></li>
      <li class="child"><a href="/news/">お知らせ</a></li>
      <li><a href="/company/">企業情報</a></li>
    </ul>
    <ul class="aside">
      <li><a href="tel:0120640450" class="tel">0120-64-0450</a><br>（平日：09:00~17:30）</li>
      <li><a href="/catalog/" class="more small">カタログダウンロード</a></li>
      <li><a href="/contact/" class="more small">ご相談・お問合せ</a></li>
    </ul>
  </div>
</header>